section {
    border-bottom: solid 1px black;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
  }
  
  li {
    margin-bottom: 5px;
  }
  